button{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
